/* Typography */
:root {
  font-size: 14px;
}

/* main content styles */
main {
  gap: 2.5rem;
}

main > * {
  width: calc(50% - 2.5rem);
}

main h3 {
  font-size: 1.4rem;
}

/* responsive styles */
@media screen and (max-width: 768px) {
  main > * {
    width: 100%;
  }
}

/* Balance Manager UI Styles */
.balance-manager {
  background-color: rgb(245, 245, 245);
}

.balance-manager label {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balance-manager input {
  max-width: 20rem;
  background-color: lightgray;
}

.balance-manager * {
  margin: 0.5rem 0;
}
