/* Header styles */
header h1 {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* main content styles */
main {
  gap: 2.5rem;
  display: flex;
  flex-wrap: wrap;
}

main * {
  width: calc(50% - 2.5rem);
}

/* responsive styles */
@media screen and (max-width: 768px) {
  main * {
    width: 100%;
  }
}
